* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blueviolet;
  font-family: sans-serif;
}

.container {
  width: 400px;
  padding: 2em;
}

input {
  width: 100%;
  padding: 10px;
  display: block;
  outline: none;
}

.output {
  margin-top: 2em;
}

/* JavaScript */
.todo {
  border-left: 4px solid rgb(34, 187, 51);
  color: rgb(75, 75, 75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1em;
  background-color: white;
  padding: 10px 20px;
}

.delete {
  color: blueviolet;
  font-weight: bold;
  cursor: pointer;
}

.message-container {
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  background-color: white;
  padding: 20px;
  transform: translateX(0);
  visibility: hidden;
  transition: transform 1s ease;
}

.success {
  transform: translateX(100px);
  visibility: visible;
  background-color: rgb(34, 187, 51);
  color: white;
}

.error {
  transform: translateX(100px);
  visibility: visible;
  background-color: rgb(223, 71, 89);
  color: #fff;
}....
.
..........kjhk
..///
/....
main

/////////////
//////////
///////////
///////////
////////
//////////
//////////
/////////
........
,,,,,,,,,,,
mmmmmmmmmmmmm
,,,,,,,,,,,,
,,,,,,,,
.........
/////////////

 }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
 }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
